.home-layout {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__icon {
    margin-top: 30%;
    margin-bottom: 60px;
    font-size: 100px;
    color: #3f51b5;
  }

  &__button {
    margin: 24px 0 16px;
    width: 300px;
    display: block;
    margin-bottom: 100px;
    color: white;
  }
}
